<div class="header">
  <div class="logo-top"></div>
  <nav class="nav-left">
    <ul>
      <li><a href="#/dashboard">Dashboard</a></li>
      <li>Soluções</li>
      <li><a href="#/administracao">Administração</a></li>
    </ul>
  </nav>
  <nav class="nav-center">
    <ul>
      <li><a href="#/processo"><i class="fa fa-caret-right" aria-hidden="true"></i>Iniciar processo</a></li>
    </ul>
  </nav>
  <nav class="nav-right">
    <ul>
      <li><i class="fa fa-search" aria-hidden="true"></i></li>
      <li><i class="fa fa-wheelchair" aria-hidden="true"></i></li>
      <li><i class="fa fa-user" aria-hidden="true"></i></li>
    </ul>
  </nav>
</div>
