/* ==========  IMAGES  ========== */
$image_path: '../images';
$logo-img: '../images/logo.png';


/* ==========  Color & Themes  ========== */
$color-primary: #102938;
$color-secondary: #39bb9d;
$color-baby-blue: #009dd8;
$color-white: 255, 255, 255;
$color-black: 0, 0, 0;

$background-color: #388E3C;
$background-color-header: #102938;
$background-color-body: #f2f1f0;
$background-color-footer: #53504e;

/* ==========  Typography  ========== */

/* ==========  Components  ========== */

/* ==========  Standard Buttons  ========== */

/* ========== Login ============= */
$color-login-box: 26, 56, 35;
